div{
	border:1px solid black;
	padding:1%;
}

/*Codebook layout*/
.web-codebook .variable-row div{
	display:inline-block;
}

.web-codebook .variable-row .row-overview{
	width:25%;
	border:1px solid green;
}
.web-codebook .variable-row .row-details{
	width:65%;
	border:1px solid green;
}

